In [1]:
import pandas as pd

In [4]:
dados_ibge_cidades = pd.read_excel('/Users/willianribeiro/Documents/GitHub/enriquecimento-dados-sympla/Data/Dados-IBGE/PIB/PIB dos Munic°pios - base de dados 2010-2021.xlsx')

In [7]:
cidades_2022 = dados_ibge_cidades[dados_ibge_cidades['Ano'] == 2021]

In [5]:
lista_colunas = dados_ibge_cidades.columns

In [8]:
lista_tratada =  lista_colunas[1:8]

In [11]:
teste = cidades_2022[lista_tratada]

teste.columns = ['codigo_da_grande_regiao', 'nome_da_grade_regiao',
       'codigo_da_unidade_da_federacao', 'sigla_da_unidade_da_federacao',
       'nome_da_unidade_da_federacao', 'codigo_do_municipio',
       'nome_do_municipio']

In [13]:
teste.set_index('codigo_do_municipio', inplace=True)

KeyError: "None of ['codigo_do_municipio'] are in the columns"

In [14]:
teste.head()

,codigo_da_grande_regiao,nome_da_grade_regiao,codigo_da_unidade_da_federacao,sigla_da_unidade_da_federacao,nome_da_unidade_da_federacao,nome_do_municipio
codigo_do_municipio,,,,,,
1100015,1,Norte,11,RO,Rondônia,Alta Floresta D'Oeste
1100023,1,Norte,11,RO,Rondônia,Ariquemes
1100031,1,Norte,11,RO,Rondônia,Cabixi
1100049,1,Norte,11,RO,Rondônia,Cacoal
1100056,1,Norte,11,RO,Rondônia,Cerejeiras

In [16]:
%load_ext sql

In [17]:
%sql sqlite:///dados_sympla.sqlite3

Connecting to 'sqlite:///dados_sympla.sqlite3'

In [18]:
dimensao_cidades = teste.copy()

In [20]:
%sql --persist dimensao_cidades

Running query in 'sqlite:///dados_sympla.sqlite3'

ValueError: Table 'dimensao_cidades' already exists. Consider using --persist-replace to drop the table before persisting the data frame
If you need help solving this issue, send us a message: https://ploomber.io/community